   body {
     font-family: 'Helvetica Neue', Arial, sans-serif;
     text-align: center;
     height: 100vh;
     margin: 0;
   }

   #title {
    font-family: 'Georgia', sans-serif;
   }

   .crossword {
     display: inline-block;
     margin-bottom: 20px;
   }

   table {
     border-collapse: collapse;
     margin: 0 auto;
   }

   td {
     border: 1px solid black;
     width: 40px;
     height: 40px;
     position: relative;
     padding: 0;
   }

   input[type="text"] {
     width: 100%;
     height: 100%;
     font-size: 20px;
     text-align: center;
     text-transform: uppercase;
     outline: none;
     padding: 0;
     margin: 0;
     box-sizing: border-box;
   }

   .black {
     background-color: black;
   }

   .numbered {
     position: relative;
   }

   .numbered::before {
     content: attr(data-number);
     position: absolute;
     top: 2px;
     left: 2px;
     font-size: 12px;
     color: black;
   }


   button {
     background-color: #990000;
     color: white;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     font-size: 1rem;
     cursor: pointer;
     transition: background-color 0.3s ease;
   }

   button:hover {
     background-color: #8B0000;
   }

   #navbar {
     padding-bottom: 50px;
   }